name: training-data-loader

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build-and-bench:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile using cmake
        run: bash compile_data_loader.sh

      - name: Compile benchmark manually with g++
        run: >
          g++ -std=c++20 -g3 -O3 -DNDEBUG -march=native -fPIC -shared \
              data_loader/cpp/training_data_loader.cpp \
              -o build/libtraining_data_loader.so && \
          g++ -std=c++20 -g3 -O3 -DNDEBUG -DBENCH -march=native \
              data_loader/cpp/training_data_loader_bench.cpp \
              -L./build -ltraining_data_loader -Wl,-rpath,'$ORIGIN/build' \
              -o bench_shared
      - name: Run manually compiled benchmark
        run: ./bench_shared ./.pgo/small.binpack
